#handShakeSVG {
  width: 35%;
  overflow: visible;
  max-width: 350px;
  margin: 0 auto;
  display: block;
  height: 80%;
}
.right_boy {
  opacity: 0;
  transform: translatex(45%);
  animation: real-man 1.5s ease-in-out forwards;
}
#Right_boy_hand {
  transform: rotate(-22deg);
  transform-origin: 100% 0%;
  animation: real-man 1s ease-in-out forwards 1.4s;
}
#bag {
  transform: rotate(-8deg);
  transform-origin: 82% 53%;
  animation: real-man 2.5s ease-in-out infinite alternate;
}

.left_boy {
  opacity: 0;
  transform: translatex(-45%);
  animation: real-man 1.5s ease-in-out forwards;
}
#left_boy_hand {
  transform: rotate(35deg);
  transform-origin: 5% 25%;
  animation: real-man 1s ease-in-out forwards 1.4s;
}
#Left_boy_bag {
  transform: rotate(8deg);
  transform-origin: 0% 50%;
  animation: real-man 2.5s ease-in-out infinite alternate;
}

@keyframes real-man {
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.client_fil9 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil15 {
  fill: black;
  fill-rule: "nonzero";
}
.client_fil0 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil3 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil6 {
  fill: redbrown;
  fill-rule: nonzero;
}
.client_fil7 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil8 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil13 {
  fill: black;
  fill-rule: nonzero;
}
.client_fil16 {
  fill: darkgray;
  fill-rule: "nonzero";
}
.client_fil14 {
  fill: saddlebrown;
  fill-rule: nonzero;
}
.client_fil5 {
  fill: black;
  fill-rule: "nonzero";
}
.client_fil10 {
  fill: saddlebrown;
  fill-rule: "nonzero";
}
.client_fil11 {
  fill: gray;
  fill-rule: "nonzero";
}
.client_fil2 {
  fill: white;
  fill-rule: "nonzero";
}
.client_fil4 {
  fill: peachpuff;
  fill-rule: "nonzero";
}
.client_fil1 {
  fill: peachpuff;
  fill-rule: "nonzero";
}
.client_fil12 {
  fill: "white";
  fill-rule: "nonzero";
}
